version: '3'
services:
    web:
        image: aleksxp/docker-eve-python
        ports:
            - "5000:5000"
        volumes:
            - .:/usr/src/app
        depends_on:
            - mongo

    mongo:
        image: mongo
